<div>
  <button id="createRow">Create new row</button>
  <button id="createColumn">Create new column</button><br>
  <button id="deleteRow">Delete row</button>
  <button id="deleteColumn">Delete column</button><br>
  <input type="text">
  <div class="pageBox" id = "pageBox">

      <div class="pageElem">
        <div>1.</div><div>1</div>
      </div>
    <p *ngIf="!maxRow; else elseBlock">Loading...</p>
    <ng-template #elseBlock>

      <table class = "table">
        <app-tablebody [table] = "tables" [rows] = "maxRow" [columns] = "maxColumn" [openedTableRow] = "openedTableRow" [openedTableColumn] = "openedTableColumn">
        </app-tablebody>
      </table>
    </ng-template>

</div>
</div>
