.message {
  display: grid;
  grid-template-areas: "avatar nickname date"
                        "text text text"
                        "button button button";
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.nickname {
  grid-area: nickname;
}
.text {
  grid-area: text;
}
.button {
  grid-area: button;
}
.userpic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
