<div id = "messageBox">
  <div class="message" *ngFor="let item of post" [id] = "item.id">
    <img alt="avatar" [src] = "item.image" class="userpic">
    <p class="nickname">{{item.username}}</p>
    <p class="date">{{item.date}}</p>
    <div *ngIf="edit; else elseBlock">
      <label>
        <input type="text" value="{{item.text}}">
      </label>
      <!-- Нужно передавать не item.text, а тут, видимо, нужно воткнуть лайфсайкл хук
      <button (click)="sendEditedMessage(item.id, item.text)"></button> -->
    </div>
    <ng-template #elseBlock>
      <p class="text">{{item.text}}</p>
    </ng-template>




    <div class="buttons">
      <button value="Edit" class = "button1" (click)="getEditWindow(item.id)">Изменить</button>
      <button value="Delete" class = "button2" (click)="deleteMessage(item.id)">Удалить</button>
    </div>
  </div>
</div>

