<form [formGroup]="tableForm" (ngSubmit)="createTable()">
  <label>
    <input type="text" placeholder="Input table height" formControlName="height"/>
  </label>
  <label>
    <input type="text" placeholder="Input table width" formControlName="width">
  </label>
  <button type="submit" [disabled]="tableCreated">Submit</button>
</form>
  <form [formGroup]="elementsEdit" (ngSubmit)="editElements()">
    <label>
      <input type="text" formControlName="createColumns" placeholder="Create rows"/>
    </label>
    <label>
      <input type="text" formControlName="createRows" placeholder="Create columns"/>
    </label>
    <label>
      <input type="text" formControlName="deleteColumns" placeholder="Delete columns"/>
    </label>
    <label>
      <input type="text" formControlName="deleteRows" placeholder="Delete rows"/>
    </label>
    <button type="submit">Apply</button><br>
  </form>

<div class="table">
  <div *ngIf="tableNotEdited else Elseblock" >
    <table>
      <tr>
        <td></td>
        <td *ngFor = "let itemWidth of tableWidthArray">{{itemWidth+1}}</td>
      </tr>
    <tr *ngFor = "let itemHeight of tableHeightsArray" class="tableColumns">
      <th (click)="sortRows(itemHeight)">{{itemHeight+1}}</th>
      <td *ngFor = "let itemWidth of tableWidthArray" class="tableItems" contenteditable="true" id="{{itemHeight}}_{{itemWidth}}" (blur)="getElementsChanges(itemHeight, itemWidth)">
      </td>
    </tr>
    </table>
  </div>
  <div class="table">
  <ng-template #Elseblock>
    <table>
      <tr>
        <td></td>
        <td *ngFor = "let itemWidth of tableWidthArray">{{itemWidth+1}}</td>
      </tr>
      <tr *ngFor = "let itemHeightElse of tableHeightsArray" class="tableColumns">
        <th (click)="sortRows(itemHeightElse)">{{itemHeightElse+1}}</th>
        <th *ngFor = "let itemWidthElse of tableWidthArray" class="tableItems" contenteditable="true" id="{{itemHeightElse}}_{{itemWidthElse}}" (blur)="getElementsChanges(itemHeightElse, itemWidthElse)">
          <!-- Здесь идёт убогая заплатка, поскольку я не смог найти, как в последних версиях ангуляра работать с contenteditable -->
          <!--{{table[itemWidthElse][itemHeightElse]}}-->

        </th>
      </tr>
    </table>
  </ng-template>
  </div>
</div>

