.chatRooms {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dcd9ea;
  min-width: 300px;
  background-color: ghostwhite;
}
.settingsBox{
  display: block;
}
.chatLink {
  display: block;
  background-color: azure;
  text-decoration: none;
  color: black;
  transition: 0.1s ease-in-out;
}
.roomBox {
  align-self: stretch;
  border: 1px solid #879ad6;
  padding: 5px;
}
.hovered {
  transform: scale(1.02);
  transition: .5s all;
  z-index: 10;
}
.chatLink:hover {
  background-color: cornflowerblue;
  transition: 0.1s ease-in-out;
}
